.__vm {

}
.__vm_switch {
  position: fixed;
  color: #FFF;
  background-color: #FF6C0E;
  line-height: 1;
  font-size: 14px;
  padding: 8px 16px;
  z-index: 10000;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 7000;
  visibility: hidden
}
