.pjv-container {
  font-family: var(--pjv-font-family, monospace);
  background-color: var(--pjv-background-color, #1e1e1e);
  color: var(--pjv-color, #9cdcfe);
  border-radius: 4px;
  overflow: auto;
}

/** 每个关键key的颜色 */
.pjv-key {
  color: var(--pjv-key-color);
}
/** 在node 对象内部本身对一个元素进行渲染时 属性key 的颜色 */
.pjv-key--attr {
  color: var(--pjv-key-attr-color);
}
/**
冒号（colon）
句号（period / full stop）
逗号（comma）
分号（semicolon）
感叹号（exclamation mark / point）
问号（question mark）
省略号（ellipsis）
中括号（brackets）
引号（quotes）
大括号（braces）
*/
.pjv-colon {
  color: var(--pjv-symbol-colon-color);
  margin-right: 6px;
}
.pjv-ellipsis {
  color: var(--pjv-symbol-ellipsis-color);
}
.pjv-comma {
  color: var(--pjv-symbol-comma-color);
  margin-right: 6px;
}
.pjv-brackets {
  color: var(--pjv-symbol-brackets-color);
}
.pjv-size {
  color: var(--pjv-size-color);
}


.pjv-value {
  color: var(--pjv-value-color);
}
.pjv-value--null {
  color: var(--pjv-type-null-color);
}
.pjv-value--undefined {
  color: var(--pjv-type-undefined-color);
}
.pjv-value--string {
  color: var(--pjv-type-string-color);
}
.pjv-value--regexp {
  color: var(--pjv-type-regexp-color);
}
.pjv-value--date {
  color: var(--pjv-type-date-color);
}
.pjv-value--number {
  color: var(--pjv-type-number-color);
}
.pjv-value--bigint {
  color: var(--pjv-type-bigint-color);
}
.pjv-value--boolean {
  color: var(--pjv-type-boolean-color);
}

.pjv-tree {
  background: var(--pjv-background-color);
  position: relative;


  .pjv-node {
    --var-padding-left: calc(var(--var-depth) * var(--pjv-indent-size));
    position: relative;
    padding-left: var(--var-padding-left);
    .pjv-node__line {
      line-height: 16px;
      height: 16px;
      padding-left: 16px;
      cursor: pointer;
      white-space: nowrap;
      word-break: break-all;
      display: block;
      position: relative;
    }
    &::before {
      content: ' ';
      position: absolute;
      border: 5px solid transparent;
      border-left: 5px solid var(--pjv-symbol-arrow-color);
      border-right: none;
      margin-left: 5px;
      margin-top: 3px;
      left: var(--var-padding-left);
      width: 0;
      height: 0;
    }
    &:hover {
      background-color: var(--pjv-node-line-background-hover-color);
    }
  }
  .pjv-node.root {
    .pjv-node__line {
      height: auto;
      white-space: normal;
    }
  }
  .pjv-node.leaf {
    &::before {
      display: none;
    }
  }
  .pjv-node.expanded {
    &::before {
      transform: rotate(90deg);
    }
  }
  .pjv-node.root,.pjv-node.expanded {
    .pjv-size {
      color: var(--pjv-size-color);
    }
  }
}